<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% if orders %}
{% for name in orders %}
    <h1>Ismi: {{ name.order_name }}</h1>
    <h1>Telefon raqami: {{ name.order_phone }}</h1>
{% endfor %}
{% else %}
<h1 style="color: red">Ma'lumot topilmadi</h1>
{% endif %}

<form action="{% url 'thanks' %}" method="post">
    {% csrf_token %}
    <label for="name">Name</label>
    <input id="name" name="name">
    <label for="phone">Phone</label>
    <input id="phone" name="phone">
    <button type="submit">Send</button>
</form>

</body>
</html>